.card {
  display: grid;
  grid-template-columns: 0.34fr 0.66fr;
  gap: 1.5rem;

  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--Gray-light, #dadde1);
  background: var(--White, #fff);
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  height: 100%;
}
.cardCenter {
}
.cardBottom {
}
