.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 145px;
  min-height: 56px;
  margin-top: auto;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid transparent;
  background-color: transparent;
  transition: 200ms ease-in;
  transition-property: color, background-color;
}

.filled {
  composes: btn;

  color: var(--White, #fff);
  background-color: var(--Button, #e44848);

  &:hover,
  &:focus {
    background-color: var(--Button-Hover, #d84343);
  }
}
.outlined {
  composes: btn;

  color: var(--Main, #101828);
  border-color: var(--Gray-light, #dadde1);

  &:hover,
  &:focus {
    border-color: var(--Button, #e44848);
  }
}
.centered {
  margin: 0 auto;
}
.iconOnly {
  display: flex;
  justify-content: center;
  align-items: center;
}
