.main {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  grid-template-areas: 'filters campers';
  gap: 4rem;

  @media only screen and (max-width: 1023.99px) {
    grid-template-areas: 'filters filters' 'campers campers';
  }
}
