:root {
  --cl-white: 255 255 255;
  --cl-black: 0 0 0;
  --cl-dark: 16 24 40;
  --cl-light: 247 247 247;
  --cl-primary: 71 84 103;
  --cl-secondary: ;
  --cl-accent: 228 72 72;

  /* Font sizes */
  --fs-sm: 12px;
  --fs-base: 16px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xl: 48px;

  /* Positioning elements */
  --z-idx-header: 999;
}

body {
  min-width: 22.5rem;
  min-height: 100dvh;
  font-family: Inter, sans-serif;
  color: rgb(var(--cl-primary));
}

#root {
  display: grid;
  grid-template-areas:
    '. header .'
    '. main .';
  grid-template-columns: minmax(1rem, 4rem) 1fr minmax(1rem, 4rem);
  grid-template-rows: auto 1fr;
  row-gap: 3rem;

  min-height: 100dvh;
  padding-bottom: 3rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.pageLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 166px;
  padding: 1rem 2rem;

  /* Button */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;

  border-radius: 200px;
  transition: 200ms ease-in;
  transition-property: background-color, border-color;

  &.filled {
    color: var(--White, #fff);
    background-color: var(--Button, #e44848);

    &:hover,
    &:focus {
      background-color: var(--Button-Hover, #d84343);
    }
  }

  &.outlined {
    color: var(--Main, #101828);
    border: 1px solid var(--Gray-light, #dadde1);
    &:hover,
    &:focus {
      border-color: var(--Button-Hover, #d84343);
    }
  }
}
