.details {
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  padding: 1.75rem 0;
}
.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-top: 3.75rem;
  border-bottom: 1px solid var(--Gray-light, #dadde1);

  .link {
    position: relative;
    padding-bottom: 1.5rem;

    /* H3 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    color: var(--Main, #101828);

    &.active::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;

      width: 100%;
      height: 0.3125rem;
      background-color: var(--Button, #e44848);
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  align-items: start;
  padding-top: 2.75rem;
}
